.home-container {
  background-image: url("/Assets/PaperBackground.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cinzel', serif; 
  display: flex;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.home-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2%;
}
.logo {
  width: 33%;
  height: 10%;
}
.lobby-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  height: 50%;
  background-color: #4e3b31;
  opacity: 93%;
  border-radius: 6px;
  box-shadow: 2px 4px 6px rgba(1, 1, 1, 1);
}
.avatar-container {
  height: 60%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}
.buttons-container {
  height: 23%;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6%;

}
.button {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin-top: -10%;
  margin-bottom: 12%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.create-button {
  background-color: #5f9341;
}
.username {
  color: #f7fdad; /* Gold / Yellow color */
  font-weight: bold;
}
.avatar {
  height: 65%;
  width: 30%;
}
