.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/Assets/PaperBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  width: 40%;
  padding: 20px;
  text-align: center;
  background-color: #4e3b31;
  opacity: 93%;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
  color: white;
}

.game-code {
  font-size: 20px;
  font-weight: bold;
  color: #ffd700;
  margin-bottom: 20px;
}

.player-list {
  margin-top: 10px;
}

.player-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 10px;
}

.player-avatar {
  margin-right: 10px;
}
